body {
    font-family: Arial, sans-serif;
    background-color: #db9c54;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  h1 {
    color: rgb(3, 3, 3);
  }
  p {
    color: rgb(0, 0, 0);
    line-height: 2.0;
    max-width: 2000px;
    margin: 0 auto 10px;
  }
  img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }